#userlist{
    margin: auto;
    max-width: 1000px;
}
#oneFileDiv{
  display: flex;
  align-items: center;
}
#downloadSvg{
    cursor: pointer;
    margin-left: 20px;
    height: 1.5rem;
    width: 1.5rem;
}