#container{
    margin: auto;
    max-width: 1000px;
    display: flex;
}

#mainInfoUserTable{
    margin-bottom: 0;
}
#SubmitEdit{
    display: flex;
    justify-content: flex-end;
}
#aktualizuj_Button{
    margin-top: 10px;
}
td{
    padding: 5px;
}
#accordion{
    min-width: 1000px;
}
#link{
    width: 35px;
    height: 35px;
}
#search{
    display: flex;
    justify-content: center;
}
#data_picker_logs{
    min-width: 150px;
    max-width: 250px;
}
.logsSearch{
    margin: 5px 20px 5px 20px
}