#p_labels_checkbox{
    margin-left: 5px;
}
.hr{
    height: 1px;
    width: 100% !important;
}
#div_createdAt{
    margin: 0;
    color: darkgray;
}
#alert_user_exist{
    margin-top: 10px;
}
#adduser_container{
    max-width: 1000px;
}
#userlist{
    margin: auto;
    max-width: 1000px;
}
#alert_modal{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 10px;
    width: auto;
}
