#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.addTodoSubmit{
    width: 150px;
}
.hr{
    height: 1px;
    width: 100% !important;
}
#hr{
    height: 1px;
    width: 100%;
    max-height: ;
    background-color: darkgray;
    margin-bottom: 30px;
}