#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.addTodoSubmit {
  margin:auto;
  height: 60px;
  width: 150px;
}
.hr {
  height: 1px;
  width: 100% !important;
}
#hr {
  height: 1px;
  width: 100%;
  /* max-height: ; */
  background-color: darkgray;
  margin-bottom: 30px;
}
#span_whoadd {
  color: darkgray;
}

#card_one_todo {
  width: 100%;
  max-width: 1000px;
}
#data_kurwa {
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  border: 1px solid #dce0e0;
  color: #565a5c;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif";
  text-align: center;
  font-weight: 300;
}
#price{
    margin-right: 40px;
}
#button_todo_delete{
  margin-right: 20px;
}
#radio_morning{
  margin-top: 1rem;
}
#label_deposit{
  margin-top: 1.5rem;
  display: flex;
}
#label_deposit_second{
  display: flex;
}
.ion-icon {
  font-size: 20px;
}
#filter_buttons{
  margin-bottom: 30px;
}
#modal_edit_set_time{
  max-width: 150px;
}
#footer{
  margin-top: 40px;
}
#footer-p{
  padding: 10px;
  margin-bottom: 0;
}
#footer-a{
  text-decoration: none;
  color: rgb(190, 190, 190);
}

#ahrefEditMe{
  text-decoration: none;
}
#infoSvg{
  cursor: pointer;
  margin-right: 20px;
  margin-top: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

#SearchAndFilter{
  display: flex;
}
#search{
  margin-right: 50px;
}
#search_control{
  max-height: 40px;
}
#AddCompanyInput{
  cursor: pointer;
}
#lineHeight{
  line-height: normal;
}
#ToastContainer{
  position: fixed;
  top: 20px;
  right: 20px;
}
#InfoNotifi{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 10px;
}
#EditTodoModal{
  max-width: 1050px;
}
#textareaUwagi{
  width: 600px;
}